div {
  min-height: 30px;

  &:hover .material-icons.delete {
    opacity: 1;
  }
}

.material-icons.delete {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s;

  &:before {
    content: 'delete';
  }

  &:hover:before {
    content: 'delete_forever';
  }
}
