<nav>
  <a md-raised-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a md-raised-button #menuTrigger="mdMenuTrigger"
     [mdMenuTriggerFor]="menu" routerLink="/heroes/" routerLinkActive="active"
     (mouseover)="menuTrigger.openMenu()"
  >
    Tour Of Heroes
  </a>
  <md-menu #menu="mdMenu">
    <a md-menu-item routerLink="/heroes/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
    <a md-menu-item routerLink="/heroes/list" routerLinkActive="active">Heroes List</a>
  </md-menu>
  <a md-raised-button routerLink="/todo" routerLinkActive="active">TODO List</a>
  <a md-raised-button routerLink="/about" routerLinkActive="active">ABOUT</a>
</nav>
<br>
<router-outlet></router-outlet>
