<h2>My Heroes</h2>
<my-hero-form (add)="onAdd($event)"></my-hero-form>

<ul *ngIf="heroes && heroes.length">
<li *ngFor="let hero of heroes" [@routeAnimation]>
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image" [style.backgroundImage]="'url('+hero.image+')'"></div>
        <md-card-title>{{hero.name}}</md-card-title>
        <md-card-subtitle>{{hero.realname}}</md-card-subtitle>
      </md-card-header>
      <md-card-actions>
        <a md-button [routerLink]="['/heroes/detail/', hero.id]">VIEW DETAIL</a>
        <button md-button (click)="remove(hero); $event.stopPropagation()">DELETE</button>
      </md-card-actions>
    </md-card>
  <br>
</li>
</ul>
