<div *ngIf="hero">
  <h2>{{hero.name || 'unnamed'}} details!</h2>
  <div>
    <label>id: </label>{{hero.id}}
  </div>
  <div>
    <form (ngSubmit)="save()" #heroForm="ngForm">
      <md-input-container>
        <input name="name" required placeholder="name" autocomplete="off" mdInput [(ngModel)]="hero.name" />
      </md-input-container>
      <p>
        <button md-raised-button (click)="goBack()">Back</button>
        <button type="submit" [disabled]="heroForm.form.invalid" md-raised-button>Save</button>
      </p>
    </form>
  </div>
</div>
