<div *ngIf="hero">
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image" [style.backgroundImage]="'url('+hero.image+')'"></div>
      <md-card-title>{{hero.name}}</md-card-title>
      <md-card-subtitle>{{hero.realname}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image [src]="hero.imagedetail">
    <md-card-content>
      <p>{{hero.powers}}</p>
    </md-card-content>
    <md-card-actions>
      <button md-button (click)="goBack()">BACK</button>
      <button md-button (click)="edit()">EDIT</button>
    </md-card-actions>
  </md-card>
  <div class="sidebar" *ngIf="sidebar">
    <h2>{{hero.name || 'unnamed'}} details!</h2>
    <div>
      <label>id: </label>{{hero.id}}
    </div>
    <div>
      <form (ngSubmit)="save()" #heroForm="ngForm">
        <md-input-container>
          <input name="name" required placeholder="name" autocomplete="off" mdInput [(ngModel)]="hero.name" />
        </md-input-container>
        <p>
          <button type="submit" [disabled]="heroForm.form.invalid" md-raised-button>Save</button>
        </p>
      </form>
    </div>
  </div>
</div>
