.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.sidebar__form {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  background: #fff;
  padding: 20px;
  border-left: 1px solid #e0e0e0;
}
body {
  background-color: rgba(34, 34, 34, 0.16);
}

.mat-raised-button.active:not([disabled]), .mat-menu-item.active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mat-raised-button:not([disabled]).active .mat-button-ripple.mat-ripple, .mat-menu-item.active .mat-menu-ripple.mat-ripple {
  background-color: rgba(0, 0, 0, 0.1);
}

.mat-menu-content {
  padding: 0 !important;
}
