@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body { background-color: rgba(34, 34, 34, 0.16); }

%button-active-shadow {
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}
%button-active-bg { background-color: rgba(0, 0, 0, .1); }

.mat-raised-button:not([disabled]).active {
  @extend %button-active-shadow;

  .mat-button-ripple.mat-ripple { @extend %button-active-bg; }
}

.mat-menu-item.active {
  @extend %button-active-shadow;

  .mat-menu-ripple.mat-ripple { @extend %button-active-bg; }
}

.mat-menu-content { padding: 0 !important; }
